# Ignore the external libraries (libs folder)
/week1/libs/

# Ignore compiled class files
**/*.class

# Ignore SQLite databases
**/*.db
**/*.db-journal

# Ignore IDE files and settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
