<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bookService" class="com.library.BookService" />
    <bean id="loggingAspect" class="com.library.LoggingAspect" />

    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:before method="beforeAdvice" pointcut="execution(* com.library.BookService.get*(..))" />
        </aop:aspect>
    </aop:config>
</beans>
